# untracked files
/out/
guillermo_rojas_hernandez_viren_mody_courseproject.iml
.idea/

# Output Analysis files
/src/*.csv

# Python cache
/src/__pycache__/

# Virtual Environment
/src/venv/

# log files
/src/*.log

# Cloned files/repos
/ClonedRepos

# Jupyter Notebook files
/src/.ipynb_checkpoints/
*.ipynb